qdrant_storage/
venv/
__pycache__/
*.pyc
.env
.idea/
.vscode/
# Ignore everything inside data
data/**

# Keep the folders
!data/
!data/pdfs/

# Keep placeholder files
!data/.gitkeep
!data/pdfs/.gitkeep

Narrative_scripts/**
!Narrative_scripts/
!Narrative_scripts/.gitkeep

Generated_images/
Generated_images/**

.pytest_cache/
.hf_cache/
test.png
APP_README.md